/* Estilos generales */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Estilos de encabezado */
header {
  position: relative;
  text-align: center;
}

header img {
  width: 100%;
  height: auto;
}

/* Estilos de imágenes */
img {
  height: 350px;
  width: 350px;
}

/* Estilos de navegación */
nav {
  position: absolute;
  top: 20px;
  left: 20px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
}

nav a:hover {
  opacity: 0.7;
}

/* Estilos de títulos */
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
  font-size: 48px;
  margin: 0;
}

h2 {
  color: #b0b0b0;
  font-size: 28px;
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-top: 8px;
}

h3 {
  color: #35ce9e;
  font-size: 24px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Estilos de contenedores de imágenes */
.img-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.img-container img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin: 0 10px;
}

/* Estilos principales */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section {
  flex-basis: 100%;
  margin-bottom: 20px;
}

section div {
  padding: 5px;
  background-color: #f9f9f9;
  text-align: justify;
}

/* Estilos del mapa responsivo */
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* Estilos de productos */
.producto {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  gap: 1rem;
}

.producto1 {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  gap: 1rem;
}
/* Estilos de animación */
nav li {
  display: inline-block;
  margin-right: 20px;
  transition: opacity 0.3s ease-in-out;
}

nav li:hover {
  opacity: 0.7;
}

.card img {
  height: auto;
 
  transition: transform 0.3s ease-in-out;
}

.card img:hover {
  transform: scale(1.1);
}

/* Estilos de tarjetas */
.card {
  border: 1px solid #dddddd;
  border-radius: 5px;
  background-color: #ffffff;
}

.card img {
  height: auto;
}

/* Estilos de artículo */
article p {
  text-decoration: none;
  color: #12c0a9;
  text-align: center;
}

article h3 {
  text-decoration: none;
  color: #918f8f;
  text-align: center;
}

/* Estilos de barra lateral */
aside {
  flex-basis: calc(25% - 20px);
  margin-left: 20px;
}

aside ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

aside li {
  margin-bottom: 10px;
}

aside a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

aside a:hover {
  color: #999;
}

/* Estilos de pie de página */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
  header img {
    height: 200px;
  }

.card img {
  height: auto; 
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

  nav {
    top: 20px;
  }

  h1 {
    font-size: 36px;
  }

  p {
    font-size: 18px;
  }

  main section div {
    padding: 20px;
    text-align: justify;
  }

  main section div div {
    font-size: 16px;
  }

  section article div {
    padding: 10px;
  }

  section article div h3 {
    font-size: 24px;
  }

  section article div p {
    font-size: 14px;
  }

  aside ul {
    margin-left: 20px;
  }

  aside li {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

/* Estilos para pantallas medianas */
@media screen and (max-width: 1199px) and (min-width: 769px) {
  header img {
    height: 300px;
  }

  h1 {
    font-size: 40px;
  }

  p {
    font-size: 16px;
  }

  main section div {
    padding: 20px;
  }

  main section div div {
    font-size: 14px;
  }

  section article div {
    padding: 15px;
  }

  section article div h3 {
    font-size: 22px;
  }

  section article div p {
    font-size: 12px;
  }

  aside ul {
    margin-left: 20px;
  }

  aside li {
    font-size: 14px;
  }
}

