* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  position: relative;
  text-align: center;
}

header img {
  width: 100%;
  height: auto;
}

img{
  height: 350px;
  width: 350px;
}

nav {
  position: absolute;
  top: 20px;
  left: 20px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
}

nav a:hover {
  opacity: 0.7;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
  font-size: 48px;
  margin: 0;
}



main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section {
  flex-basis: 100%;
  margin-bottom: 20px;
}

section div {
  padding: 5px;
  background-color: #f9f9f9;
}


.producto{
display: flex;
flex-wrap: wrap;
margin: 1rem;
gap: 1rem;

}
.card {
  border: 1px solid #dddddd;
  border-radius: 5px;
  background-color: #ffffff;

}


.card img {

  height: auto;
}


article p {
  text-decoration: none;
  color: #12c0a9;
text-align: center;

}
article h3 {
  text-decoration: none;
  color: #918f8f;
text-align: center;
}



aside {
  flex-basis: calc(25% - 20px);
  margin-left: 20px;
}

aside ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

aside li {
  margin-bottom: 10px;
}

aside a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

aside a:hover {
  color: #999;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  header img {
    height: 200px;
  }

  nav {
    top: 20px;
  }

  h1 {
    font-size: 36px;
  }

  p {
    font-size: 18px;
  }

  main section div {
    padding: 20px;
  }

  main section div div {
    font-size: 16px;
  }

  section article div {
    padding: 10px;
  }

  section article div h3 {
    font-size: 24px;
  }

  section article div p {
    font-size: 14px;
  }

  aside ul {
    margin-left: 20px;
  }

  aside li {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
